
.input-file {
  width: 360px;
  height: 640px;
  padding: 40px 20px 218px;

  &__title {
    width: 71px;
    height: 15px;
    margin: 0 124.5px 40px;
    font-family: NotoSansCJKkr;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #1d1d1f;
  }

  &__content {
    width: 320px;
    height: 132px;
    margin: 14px 0 0;
    font-family: NotoSansCJKkr;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: -0.2px;
    color: #8b8b91;
  }


  .Rectangle-title {
    width: 141px;
    height: 13px;
    margin: 0 179px 8px 0;
    font-family: NotoSansCJKkr;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #5c5c62;
  }

  .Rectangle {
    width: 320px;
    height: 160px;
    margin: 8px 0 14px;
    padding: 62px 45px;
    border-radius: 4px;
    border: solid 1px #8b8b91;

    .iconnavcamera {
      width: 18px;
      height: 16px;
      margin: 0 106px 8px 105px;
      object-fit: contain;
      //background-color: #8b8b91;
    }

    .content {
      width: 229px;
      height: 12px;
      margin: 8px 0 0;
      font-family: NotoSansCJKkr;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: -0.2px;
      text-align: center;
      color: #8b8b91;
    }
  }

  .Rectangle-preview {
    text-align: center;
    border-radius: 4px;
    border: solid 1px #8b8b91;
    img {
      border-radius: 0.25rem;
      max-width: 100%;
      height: 160px;
    }
  }

}
