.accordion {
  width: 360px;
  height: 640px;
  padding: 40px 0 0;
  font-stretch: normal;
  font-style: normal;
  font-family: NotoSansCJKkr;

  &-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.125);
  }

  &__title {
    width: 56px;
    height: 15px;
    margin: 40px 152px;

    font-size: 15px;
    font-weight: bold;

    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #1d1d1f;
    background-color: whitesmoke;
  }

  .accordion-header-title {
    padding: 22px 20px;
    //margin: 22px 20px;

    font-size: 15px;
    font-weight: bold;

    line-height: 1;
    letter-spacing: normal;
    color: #1d1d1f;
  }

  .accordion-header {
    padding: 22px 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.125);

    font-size: 14px;
    font-weight: normal;

    line-height: 1;
    letter-spacing: -0.2px;
    color: #343437;

    &.menu-active {
      color: #4a74e8;
      font-weight: bold;
      >.has-arrow {
        &:after {
          transform: rotate(-180deg);
        }
      }
    }
    .has-arrow {
      &:after {

        //content: url("../../images/arrow_accordion.svg");
        font-family: "Font Awesome 5 Free";
        content: "\f107";

        font-weight: 900;
        display: block;
        float: right;
        transition: transform .2s;
        font-size: 1rem;
      }
    }
  }

  .accordion-body {
    width: 320px;
    height: 72px;
    margin: 0px 20px;
    padding-bottom: 22px;

    font-size: 14px;
    font-weight: normal;

    line-height: 1.71;
    letter-spacing: -0.2px;
    color: #5c5c62;

    p {
      margin: 0px;
    }
  }

}

