.slick-list {
  height: 160px !important;

  margin: 0 17px;
}

.slider-entity {
  flex: 1;
  width: 100px;
  //min-height: 500px;
}

.slick-slide {

  opacity: 0.1;
  font-size: 30px;
  text-align: center;
  background: transparent;
  outline: none;
  transition: opacity 0.3s;

  .about-times {
    outline: none;
    //padding: 5px 0 10px;
    padding: 10px 0;
    text-align: center;
    color: #343437;

    //font-size: 1.5rem;



    font-size: 14px;
    font-weight: normal;

    //line-height: 1.71;
    letter-spacing: normal;
  }

}

.slick-active {
  opacity: 1;
  background: transparent;

  //border-bottom: 1px solid #c0c0c6 !important;
  //border-top: 1px solid #c0c0c6 !important;

}
